.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  box-sizing: border-box;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(220, 232, 238);
  overflow: hidden;
}

.Bottom {
  width: 100%;
  background-color: rgb(206, 216, 221);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
}
.testLine {
  width: 100vw;
  height: 35.5rem;
}
.FloatingButton {
  position: relative;
  bottom: 1rem;
}
.QR__Img {
  width: 100%;
  height: 100%;
}
.BarcodeImg {
  width: 100%;
  height: 100%;
}
.testLogo {
  width: 3rem;
}
.Main::-webkit-scrollbar {
  display: none;
}
