.inputsWrapperForgot{
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -4rem;
}
.logoWrapperForgot{
    width: 90%;
  height: 4rem;
 display: flex;
 align-items: center;
 justify-content: flex-end;
  position: relative;
  bottom: 7rem;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 23, 58);
  border-bottom: 3px solid rgb(0, 58, 145);
}
.loginWrapperForgot {
    height: 35rem;
    width: 35rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(150, 167, 179);
    box-shadow: 0px 4px 8px 1px #00000073;
    flex-direction: column;
    padding-top: 3rem;
  }
  @media screen and (max-width: 718px) {
    .loginWrapperForgot {
      height: 100%;
      padding-top:0px;
    
    }
    .logoWrapperForgot{
        width: 80%;
        bottom: 8rem;
        
    }
    .inputsWrapperForgot{
        height: 20rem;
        bottom: 4.1rem;
        position: relative;
  }
}