.ManagerMainWrapper {
  height: 93%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.MaganerTop {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ManagerSwitch {
  height: 2rem;
  display: flex;
  width: 94%;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid rgb(241, 241, 241);
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 10px 5px rgba(146, 146, 146, 0.25);
}
.ManagerHeader {
  display: flex;
  height: 6.4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
}
.StationTime {
  font-size: 1rem;
}
.ManagerSum {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 14rem;
  margin-top: 1.6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 2px rgba(146, 146, 146, 0.25);
}
.SumTop {
  display: flex;
  width: 100%;
  margin-bottom: 1.7rem;
}
.TestsDone {
  width: 50%;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.TestsOrder {
  width: 50%;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SumBottom {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.AverageTest {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.AverageLine {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Time {
  font-size: 1.3rem;
  margin-bottom: -1rem;
}
.TestNow {
  font-size: 1.4rem;
  margin: 0.3rem;
}
.TestNext {
  font-size: 1.4rem;
  margin: 0.3rem;
}
.Packages {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid rgb(241, 241, 241);
  overflow: hidden;
  box-shadow: 0px 0px 10px 2px rgba(146, 146, 146, 0.25);
}
.css-imwlvt {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ManagerBottom {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(241, 241, 241);
}
.ManagerCalender {
}
.MaganerStaff {
}
.ManagerDashboard {
}
.ManagerPackages {
}
.ManagerCheck {
}
