/* .ManagerMain {
    font-family: Rubik;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: green;
  } */
  #simple-tabpanel-0{
    width: 100%;
    height: 100%;
  }
  #simple-tabpanel-1{
    width: 100%;
    height: 100%;

  }
  #simple-tabpanel-2{
    width: 100%;
    height: 100%;

  }
  #simple-tabpanel-3{
    width: 100%;
    height: 100%;

  }
  #simple-tabpanel-4{
    width: 100%;
    height: 100%;

  }
  #simple-tabpanel-5{
    width: 100%;
    height: 100%;

  }
  #simple-tabpanel-6{
    width: 100%;
    height: 100%;

  }