.recaptcha {
  position: relative;
  top: 25px;
}
.loginWrapperReg {
  height: 45rem;
  width: 43rem;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(150, 167, 179);
  box-shadow: 0px 4px 8px 1px #00000073;
  flex-direction: column;
  padding-top: 3rem;
}
.inputsWrapperReg {
  width: 20.8rem;
  height: 35rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.btnSignReg {
  position: relative;
  top: 30px;
}
.logoWrapperReg {
  width: 90%;
  height: 4rem;
 display: flex;
 align-items: center;
 justify-content: flex-end;
  position: relative;
  bottom: 50px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 23, 58);
  border-bottom: 3px solid rgb(0, 58, 145);
}
.pReg {
  font-weight: bold;
  font-size: 18px;
  margin: 3rem;
}
@media screen and (max-width: 718px) {
  .loginWrapperReg {
    height: 100%;
    padding-top:0;
    width: 21rem;
    box-shadow: 0px 0px 0px 0px;
    border: 1px solid rgb(255, 255, 255);
  }
  .logoWrapperReg{
      width: 80%;
      bottom: 0px;
  }
  .inputsWrapperReg{
    position: relative;
    top: -1rem;

  }
}
.datepicker{
  z-index: 20000;
}

